body {
    background-color: black;
    margin: 10px;
  }
  
  #home {
    margin-top: -1cm;
    margin-left:  -1cm;
    margin-right: -1cm;
    padding-bottom: 1cm;
    background-color: lightblue;
    padding-top: 2cm;
    padding-bottom: 2cm;
  }
  
  header{
      font-size: 30px;
      color: rgb(156, 102, 156);
      float: left;
      padding-left: 2cm;
  }

  .topdiv{
      float: right;
      padding-right: 1cm;
  }

  .topmenu{
      color: lightgray;
      background-color: rgb(68, 0, 68);
      margin: 10px;
      padding: 10px;
      border-radius: 1mm;
      font-size: 20px;
      text-decoration: wavy;
  }

  .topmenu:hover{
      color: white;
      font-weight: bolder;
      background-color: purple;
      text-decoration: underline;
  }

  #all-conversion-sections{
      justify-content: center;
      display: grid;
  }

  figure{
      float: left;
      justify-self: auto;
      width: 200px;
  }

  img{
      width: 200px;
  }

  figcaption{
      color: black;
      font-size: 17px;
      text-align: center;
  }

  button{
      font-size: 20px;
      border-radius: 40px;
      border: transparent;
      width: fit-content;
      background-color: lightgreen;
      padding-left: 15px;
      padding-right: 15px;
  }

  button:hover{
      cursor: pointer;
  }

  .b{
      border-top-style: solid;
      border-top-width: 20px;
      border-radius: 10px;
      background-color: white;
      width: 600px;
      height: 400px;
      margin-top: 25px;
      margin-bottom: 25px;
      display: flex;
  }

  .temperature{
      border-top-color: green;
  }

  .weight{
      border-top-color: coral;
  }
  
  .distance{
      border-top-color: cyan;
  }
  
  legend{
      font-size: 30px;
      font-weight: bolder;
  }

  .iconbutton{
      width: 40px;
      height: 40px;
      justify-content: center;
      border-radius: 100%;
      background-color: cyan;
      display: flex;
      align-items: center;
      position: fixed;
      bottom: 40px;
      left: 0;
  }

  .iconbutton img{
      width: 30px;
  }

  footer{
      background-color: lightpink;
      margin-top: 20px;
  }
  

